#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 85vh;
  background-color: aliceblue;
}

.minHeight {
  min-height: 80vh;
}

a {
  color: black;
  text-decoration: none;
}

img {
  width: 100%
}

main {
  background-color: aliceblue;
  margin-top: 15vh;
}

.m-6 {
  margin: 0 6rem;
}

/* navbar */

#navbarContainer {
  background-color: aliceblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
  z-index: 1000;
}

.mainSection {
  display: flex;

  h1 {
    width: 40%;
  }

  .circle {
    border-radius: 50px;
  }

  ul {
    margin: auto 0;
  }
}


li {
  list-style: none;

  a {
    font-weight: bold;
  }

  a:hover {
    color: cornflowerblue;
  }
}

/* HERO */

.heroContainer {
  height: 35vh;
  max-width: 100vw;

  .imgContainer {
    width: 20%;
  }

  img {
    border-radius: 15px;
  }
}

/* CAROUSEL */

.cardsContainer {
  width: 90vw;
  position: relative;
}

.track {
  animation: scroll 30s linear infinite;

}

.cardsContainer:hover .track {
  animation-play-state: paused;
}

.cardsContainer::before,
.cardsContainer::after {
  content: "";
  position: absolute;
  top: 0;
  width: 60px;
  height: 100%;
  z-index: 50;
  pointer-events: none;
}

.cardsContainer::before {
  left: 0;
  background: linear-gradient(to right, aliceblue 30%, transparent);
}

.cardsContainer::after {
  right: 0;
  background: linear-gradient(to left, aliceblue 30%, transparent);
}

.myCard {
  background-color: lightskyblue;
  border-radius: 15px;
  padding: 15px;
  width: 15rem;
  height: 40vh;
  overflow: hidden;
}

.myCard:hover {
  transform: scale(1.1);
}

p {
  font-size: small;
}

img {
  border-radius: 15px;
}

#eventCard {
  position: relative;
}

.eventCard:hover {
  transform: scale(1.1);
}

.seeAll {
  margin-right: 6em;
  font-weight: bold;
}


/* SINGLE EVENT */
#singleEventPage {

  .info {
    font-weight: bolder;
  }

  #textSec {
    width: 60%;
    font-size: large;
  }

  .imgContainer {
    width: 25%;
  }

  #whoContainer {
    img {
      border-radius: 15px;
    }
  }
}

.myCardTag {
  right: 0;
  top: 210px;
  text-align: end;
  z-index: 10;
}

#tagsSection {
  z-index: 3;
  right: 5px;
  top: 36vh;


  span {
    border-radius: 15px;
    padding: 0.2em 0.2em;
    margin-left: 1em;
    max-width: 20%;
  }

  /* Gestione colori */
  .issimiAC {
    background-color: coral;
  }

  .lupettiScout {
    background-color: aqua;
  }
}

/* FORMAT */

#formatContainer {
  align-content: stretch;
}


.SpuntidiRiflessione {
  background: url(/formatImg/SpuntiDiRiflessione.png) no-repeat center;
}

.CredereInsieme {
  background: url(/formatImg/CredereInsieme.png) center;
}

.CondivisioneQuotidiana {
  background: url(/formatImg/CondivisioneQuotidiana.png) center;
}

.formatCard {
  position: relative;
  border-radius: 15px;
  padding: 15px;
  width: 20rem;
  background-size: cover;
  aspect-ratio: calc(4/3);
}

.SpuntidiRiflessione::before,
.CondivisioneQuotidiana::before {
  content: "";
  position: absolute;
  width: 20rem;
  border-radius: 15px;
  inset: 0;
  background-color: rgba(240, 14, 112, 0.3);
  z-index: 1;
}

.CredereInsieme::before {
  content: "";
  position: absolute;
  width: 20rem;
  border-radius: 15px;
  inset: 0;
  background-color: rgba(185, 15, 117, 0.3);
  z-index: 1;
}

.formatContent {
  position: relative;
  z-index: 5;
}

/* SPUNTI DI RIFLESSIONE */
#spuntiDiRiflessione {
  min-height: 85vh;

  .imgContainer {
    width: 74vw;
    border-radius: 15px;
    background: url(/formatImg/SpuntiDiRiflessione.png);
    background-size: cover;
    background-position: 50% 85%;
    height: 45vh;
  }

  p {
    width: 60vw;
    font-weight: 500;
  }
}

.spunti {
  width: 20%;

  h3 {
    white-space: nowrap;
    overflow: hidden;
    line-height: 2.5rem;
    text-overflow: ellipsis;
  }
}

/* SINGOLO SPUNTO */
#singleSpunto {
  height: 85vh;

  a:hover {
    color: cornflowerblue;
  }
}

.subtitle {
  font-weight: 700;
}

.date {
  font-weight: 600;
  font-size: x-small;
  color: rgb(91, 113, 124);
}

.desText {
  font-size: medium;
  width: 80%;
}


/* CREDERE INSIEME */
#credereInsieme {

  ul {
    padding: 0;
  }

  iframe {
    width: 50%;
    height: 130vh;
  }
}

#loadingContainer {
  text-align: center;
  align-content: center;
  height: 85vh;
  color: blue;
}

/* CONDIVISIONE QUOTIDIANA */
.litOggi {
  height: 50vh;
  width: 20vw;
  margin: 0 auto;
}

.liturgia {
  width: 40vw;
  text-align: center;
}

.istruction {
  width: 20vw;
  margin: 0 auto;
  color: rgba(56, 56, 56, 0.5);
}

/* CALENDAR */
#calendar {

  iframe {
    width: 60vw;
    aspect-ratio: 2;
    border-radius: 15px;
  }

  .singleCalendar {
    border-radius: 15px;
    font-weight: 400;
  }

  /* gestione sfondi calendari */
  .cf6bf26 {
    background-color: #f6bf26;
  }

  .cf6bf25 {
    background-color: #f6bf25;
  }

  .c33b679 {
    background-color: #33b679;
  }

  .c33b678 {
    background-color: #33b678;
  }

  .c4285f4 {
    background-color: #4285f4;
  }

  .c4285f3 {
    background-color: #4285f3;
  }

  .cef6c01 {
    background-color: #ef6c01;
  }

  .cef6c00 {
    background-color: #ef6c00;
  }

  .c3f51b5 {
    background-color: #3f51b5;
  }
}


/* ORDINARY EVENTS */
#ordinaryEvents {
  a {
    width: 10vw;
    aspect-ratio: 3/4;
    background-color: lightskyblue;
    border-radius: 15px;
    padding: 5px;
  }
}

/* ACTIVITIES */
#activityGroup {

  .groupCard {
    width: 20vw;
    aspect-ratio: 4/3;
    background-color: lightskyblue;
    border-radius: 15px;
    padding: 15px;
  }
}


/* AUTHENTICATOR */
#auth {
  width: 40vw;
  min-height: 75vh;
  align-content: center;

  h2 {
    color: rgb(0, 136, 255);
    text-align: center;
    margin-bottom: 3rem;
  }

  div {
    width: 100%;
    align-content: center;
    display: inline-block;
    height: 30vh;
    border-radius: 15px;
    background-color: lightskyblue;
  }

  a {
    color: rgb(0, 136, 255);
    display: block;
    margin: 0 auto;
    width: 40%;
    padding: 10px 15px;
    border-radius: 15px;
    text-align: center;
    background-color: aliceblue;
  }
}

#authForm {
  width: 30vw;
  background-color: lightskyblue;
  color: aliceblue;
  padding: 30px;
  border-radius: 15px;

  input {
    border-radius: 15px;
    background-color: rgb(175, 219, 246);
    color: rgb(0, 136, 255);
    font-weight: 500;
    border-color: rgb(0, 136, 255);
  }

  input::placeholder {
    color: rgb(0, 136, 255);
    font-style: italic;
    font-weight: 400;
  }

  button {
    border-radius: 15px;
    padding: 5px;
    color: rgb(0, 136, 255);
    background-color: aliceblue;
  }

  p {
    padding: 15px;
    border: 2px solid red;
    border-radius: 15px;
    background-color: rgb(253, 131, 131);
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
  }
}

/* OWNER PAGE */
.btn {
  width: 40vw;
  padding: 15px;
  border-radius: 15px;
  background-color: whitesmoke;
  border: 2px solid lightskyblue;
}


/* CONTATTI */
#Contacts {
  font-weight: 500;

  a {
    color: rgb(52, 177, 255);
  }

  .Contact {
    width: 40vw;
  }

  .san {
    width: 25vw;
  }
}


/* Footer */
#footer {
  color: gray;
  height: 5vh;
}

/* //////////////// */
/* //////////////// */
/* //////////////// */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}