#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 85vh;
  background-color: aliceblue;
}


a {
  color: black;
  text-decoration: none;
}

img {
  width: 100%
}

main {
  min-height: 80vh;
  background-color: aliceblue;
  margin-top: 15vh;
}

.m-6 {
  margin: 0 6rem;
}

/* navbar */

#navbarContainer {
  background-color: aliceblue;
  position: fixed;
  padding: 0 6rem;
  top: 0;
  left: 0;
  right: 0;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.mainSection {
  display: flex;
  width: 25%;

  h1 {
    width: 40%;
  }

  div {
    width: 25%;
  }

  .circle {
    border-radius: 50px;
  }

  .menuContainer {
    width: 75%;
    display: inline-block;
  }

  ul {
    margin: auto 0;
    padding-right: 3rem;
    gap: 3rem;
  }
}


li {
  list-style: none;

  a {
    font-weight: bold;
  }

  a:hover {
    color: cornflowerblue;
  }
}

/* HERO */

.heroContainer {
  height: 35vh;
  max-width: 100vw;

  .imgContainer {
    width: 20%;
  }

  img {
    border-radius: 15px;
  }
}

/* CAROUSEL */

.cardsContainer {
  width: 90vw;
  position: relative;
}

.myCard {
  background-color: lightskyblue;
  border-radius: 15px;
  padding: 15px;
  width: 15rem;
  height: 320px;
  overflow: hidden;
}



p {
  font-size: small;
}

img {
  border-radius: 15px;
}



.seeAll {
  left: 90vw;
  margin-top: 1rem;
  font-weight: bold;
}

.allEventsCard {
  margin: 1rem;
}

/* SINGLE EVENT */
#singleEventPage {

  .info {
    font-weight: bolder;
  }

  #textSec {
    width: 60%;
    font-size: large;

  }

  a {
    color: #007bff;
  }

  a:hover {
    color: #0056b3;
  }


  .imgContainer {
    width: 25%;
  }

  #whoContainer {
    img {
      border-radius: 15px;
    }
  }
}

.myCardTag {
  text-align: end;
}

#tagsSection {
  z-index: 3;
  right: 10px;
  top: 290px;


  span {
    border-radius: 15px;
    padding: 0.2em 0.2em;
    margin-left: 1em;
    max-width: 20%;
  }

  /* Gestione colori */
  .defaultColor {
    background-color: burlywood;
    padding: 0 10px;
  }

  #NoiSanBellino {
    background-color: coral;
  }

  #lupettiScout {
    background-color: aqua;
  }

  #acr {
    background-color: #3a86ff;
    color: aliceblue;
  }

  #AzioneCattolica {
    background-color: #0055ff;
    color: aliceblue;
  }

  #Preghiera {
    background-color: aqua;
  }

}

/* FORMAT */




.SpuntidiRiflessione {
  background: url(/formatImg/SpuntiDiRiflessione.png) no-repeat center;
}

.CredereInsieme {
  background: url(/formatImg/CredereInsieme.png) center;
}

.CondivisioneQuotidiana {
  background: url(/formatImg/CondivisioneQuotidiana.png) center;
}

.formatCard {
  position: relative;
  border-radius: 15px;
  padding: 15px;
  width: 20vw;
  background-size: cover;
  aspect-ratio: calc(4/3);
}

.SpuntidiRiflessione::before,
.CondivisioneQuotidiana::before {
  content: "";
  position: absolute;
  width: 20vw;
  border-radius: 15px;
  inset: 0;
  background-color: rgba(240, 14, 112, 0.3);
  z-index: 1;
}

.CredereInsieme::before {
  content: "";
  position: absolute;
  width: 20vw;
  border-radius: 15px;
  inset: 0;
  background-color: rgba(185, 15, 117, 0.3);
  z-index: 1;
}

.formatContent {
  position: relative;
  z-index: 5;
}

/* SPUNTI DI RIFLESSIONE */
#spuntiDiRiflessione {
  min-height: 85vh;

  .imgContainer {
    width: 74vw;
    border-radius: 15px;
    background: url(/formatImg/SpuntiDiRiflessione.png);
    background-size: cover;
    background-position: 50% 85%;
    height: 45vh;
  }

  p {
    width: 60vw;
    font-weight: 500;
  }
}

.spunti {
  width: 20%;

  h3 {
    white-space: nowrap;
    overflow: hidden;
    line-height: 2.5rem;
    text-overflow: ellipsis;
  }
}

/* SINGOLO SPUNTO */
#singleSpunto {

  a:hover {
    color: cornflowerblue;
  }
}

.subtitle {
  font-weight: 700;
}

.date {
  font-weight: 600;
  font-size: x-small;
  color: rgb(91, 113, 124);
}

.desText {
  font-size: medium;
  width: 80%;
}


/* CREDERE INSIEME */
#credereInsieme {

  ul {
    padding: 0;
  }

  iframe {
    width: 50%;
    height: 130vh;
  }
}

#loadingContainer {
  text-align: center;
  align-content: center;
  height: 85vh;
  color: blue;
}

/* CONDIVISIONE QUOTIDIANA */
.litOggi {
  height: 350px;
  width: 50%;
  margin: 0 auto;
}

.liturgia {
  min-width: 700px;
  width: 40vw;
  text-align: center;
}

.istruction {
  width: 50%;
  margin: 0 auto;
  color: rgba(56, 56, 56, 0.5);
}

/* CALENDAR */
#calendar {
  table {
    width: 80vw;
    height: 30vh;
    border: 3px solid lightskyblue;
  }

  th {
    background-color: rgba(135, 206, 250, 0.5);
  }


  th,
  td {
    border: 2px solid lightskyblue;
    padding: 5px;
    width: 25%;
    text-align: center;
  }

  .calendarContainer {
    width: 100%;
    gap: 1rem;
  }

  iframe {
    width: 65vw;
    aspect-ratio: 2;
    border-radius: 15px;
  }

  .singleCalendar {
    border-radius: 15px;
    font-weight: 400;

    label {
      display: inline-block;
      width: 70%;
      margin: 0 15px;
    }
  }

  /* gestione sfondi calendari */
  .cfce921 {
    background-color: #fce921;
  }

  .cf9f088 {
    background-color: #f9f088;
  }

  .c0dc991 {
    background-color: #0dc991;
  }

  .c70cdb1 {
    background-color: #70cdb1;
  }

  .c3a86ff {
    background-color: #3a86ff;
    color: aliceblue;
  }

  .c5e9bff {
    background-color: #5e9bff;
  }

  .cef6c01 {
    background-color: #ffb703;
  }

  .cef6c00 {
    background-color: #9b5de5;
    color: aliceblue;
  }

  .c3f51b5 {
    background-color: #ff6b6b;
  }
}



/* ACTIVITIES */
#activityGroup {

  .groupCard {
    width: 20vw;
    aspect-ratio: 4/3;
    background-color: lightskyblue;
    border-radius: 15px;
    padding: 15px;
  }
}


/* AUTHENTICATOR */
#auth {
  width: 40vw;
  min-height: 75vh;
  align-content: center;

  h2 {
    color: rgb(0, 136, 255);
    text-align: center;
    margin-bottom: 3rem;
  }

  div {
    width: 100%;
    align-content: center;
    display: inline-block;
    height: 30vh;
    border-radius: 15px;
    background-color: lightskyblue;
  }

  a {
    color: rgb(0, 136, 255);
    display: block;
    margin: 0 auto;
    width: 40%;
    padding: 10px 15px;
    border-radius: 15px;
    text-align: center;
    background-color: aliceblue;
  }
}

#authForm {
  width: 30vw;
  background-color: lightskyblue;
  color: aliceblue;
  padding: 30px;
  border-radius: 15px;

  input {
    border-radius: 15px;
    background-color: rgb(175, 219, 246);
    color: rgb(0, 136, 255);
    font-weight: 500;
    border-color: rgb(0, 136, 255);
  }

  input::placeholder {
    color: rgb(0, 136, 255);
    font-style: italic;
    font-weight: 400;
  }

  button {
    border-radius: 15px;
    padding: 5px;
    color: rgb(0, 136, 255);
    border-color: rgb(0, 136, 255);
    background-color: aliceblue;
  }

  p {
    padding: 15px;
    border: 2px solid red;
    border-radius: 15px;
    background-color: rgb(253, 131, 131);
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
  }
}

/* OWNER PAGE */
.logOutButton {
  background-color: rgb(255, 159, 159);
  color: red;
  border-radius: 15px;
  border-color: red;
  padding: 15px 5px;
  position: fixed;
  width: 10vw;
  bottom: 30px;
  right: 30px;
  z-index: 20;
}

.btns {
  text-align: center;
  width: 40vw;
  padding: 15px;
  border-radius: 15px;
  background-color: whitesmoke;
  border: 2px solid lightskyblue;
  transition: background-color 1s ease;
}

.btns:hover {
  transition: background-color 1.5 ease;
  background-color: lightskyblue;
}


/* HANDLE PAGE */
.handleCard {
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid lightskyblue;
  width: 20vw;
  min-height: 150px;
  height: 25vh;
  overflow: hidden;
  position: relative;



  .handleBtn {
    position: absolute;
    bottom: 0.4em;
    height: 50%;
    border-radius: 10px;
    color: rgb(62, 63, 65);
    width: 20;
    height: 30px;
  }

  .delete {
    border-color: red;
    background-color: #fb8b8b;
    right: 0.4em;

  }

  .update {
    border: 2px solid orange;
    padding: 0 2px;
    background-color: rgb(255, 203, 107);
    left: 0.4em;
  }

}

#updateButton {
  border: 2px solid orange;
  background-color: rgb(255, 203, 107);
  color: rgb(171, 111, 0);
}


/* ADDMAIN */
.inpCont {
  background-color: lightskyblue;
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
  width: 25vw;

  p {
    margin: 0;
  }
}



input,
textarea {
  padding: 15px;
  margin: 0 5px;
  border-radius: 15px;
}

textarea {
  width: 60%;
  height: 25vh;
}

.long {
  width: 60vw;
}

/* tag */
.tagLabel {
  z-index: 5;
  height: 30vh;
}

.accordion {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: rgb(69, 184, 255);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  font-weight: 500;
  color: black;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.accordion:hover {
  background-color: aliceblue;
}

.content {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  padding: 15px 18px;
  background-color: rgb(69, 184, 255);
  font-size: large;
  font-weight: 500;


}

/* button */
#subButton,
#addTagButton {
  background-color: rgb(111, 192, 97);
  color: rgb(0, 110, 46);
  border: 2px solid green;
}

form button {
  padding: 0 5px;
  text-align: center;
  border-radius: 15px;
}

form>button {
  padding: 15px;
  font-size: larger;
  width: 200px;
  height: 10vh;
}

#subButton,
#updateButton {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
}

/* ADD ACTIVITY */
#addActivity .inpCont,
#updateActivity .inpCont {
  width: 40vw;
}

/* ADD Formt */
#subDayly,
#subThought {
  background-color: rgb(111, 192, 97);
  color: rgb(0, 110, 46);
  border: 2px solid green;
}

/* CONTATTI */
#Contacts {
  font-weight: 500;

  a {
    color: rgb(52, 177, 255);
  }

  .Contact {
    width: 40vw;
  }

  .san {
    width: 25vw;
  }
}

/* Footer */
#footer {
  color: gray;
  height: 5vh;
}

/* //////////////// */
/* //////////////// */
/* //////////////// */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* only pc */
@media(min-width: 1000px) {
  .track {
    animation: scroll 30s linear infinite;
  }

  .cardsContainer:hover .track {
    animation-play-state: paused;
  }

  .cardsContainer::before,
  .cardsContainer::after {
    content: "";
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    z-index: 50;
    pointer-events: none;
  }

  .cardsContainer::before {
    left: 0;
    background: linear-gradient(to right, aliceblue 30%, transparent);
  }

  .cardsContainer::after {
    right: 0;
    background: linear-gradient(to left, aliceblue 30%, transparent);
  }

  .myCard:hover {
    transform: scale(1.1);
  }

  .eventCard:hover {
    transform: scale(1.1);
  }
}

/* mobile smartphone */
@media (max-width: 578px) {
  .hideSm {
    display: none;
  }

  main {
    margin-top: 16vh;
    min-height: 100dvh;
  }

  .m-6 {
    margin: 0 2rem;
  }

  /* navBar */
  #navbarContainer {
    height: 16vh;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 3rem;
  }

  .mainSection {
    width: 100%;
    display: flex;
    justify-content: space-between;

    div {
      width: 20%;
    }

  }

  .menuContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  /* hero */
  .heroContainer {
    height: auto;
  }

  .track {
    flex-wrap: wrap;
  }

  /* carousel */
  .myCard {
    width: 40%;
    height: 150px;

    h3 {
      font-size: small;
    }

  }

  .seeAll {
    left: 80vw;
    margin-top: 0;
    font-size: small;
  }

  /* ALL EVENTS PAGE */
  .allEventsCard {
    margin: 10px;
  }

  /* SINGLE EVENT PAGE */
  #eventContainer {
    flex-wrap: wrap;
    justify-content: center;

    .imgContainer {
      width: 50%;
    }

    #textSec {
      position: relative;
      width: 100%;
    }
  }




  /* format */
  #formatContainer {
    flex-direction: column;
  }

  .formatCard {
    width: 100%;
  }

  .SpuntidiRiflessione::before,
  .CondivisioneQuotidiana::before,
  .CredereInsieme::before {
    width: 100%;
  }

  /* SPUNTI DI RIFLESSIONE */
  .spuntiCardContainer {
    flex-direction: column;
  }

  .spunti {
    width: 100%;
  }

  #whoSec {
    position: absolute;
    width: 80vw;
    right: 0;
    top: 100%;
  }

  /* SINGOLO SPUNTO */
  #singleSpunto {
    height: auto;
  }

  /* CONDIVISIONE QUOTIDIANA */
  #condivisioneQuotidiana {

    h1 {
      font-size: x-large;
    }

    h4 {
      font-size: larger;
    }
  }

  .condContainer {
    flex-direction: column;
  }

  iframe body {
    width: 100%;
  }

  .liturgia {
    min-width: 100%;
    width: 110%;
  }

  .litOggi,
  .istruction {
    margin: 0;
    width: 100%;
  }

  /* CREDERE INSIEME */
  #credereContent {
    flex-direction: column;

    iframe {
      width: 100%;
      height: 50vh;
    }

    h3 {
      margin-top: 1rem;
    }
  }

  /* calendar */
  #handingCalendar {
    display: none;
  }

  .calendarContainer {
    gap: 0;

  }

  #calendar {
    margin: 0;

    #orariMesse {
      margin: 0 2rem;

      table {
        width: 100%;
      }
    }

    iframe {
      width: 100%;
      aspect-ratio: 0.7;
    }
  }

  /* CONTATTI */
  #Contacts .Contact,
  .san {
    h2 {
      font-size: larger;
    }

    margin-bottom: 1rem;
    width: 100% !important;
  }

  /* ACTIVITY PAGE */
  #activityGroup .groupCard {
    width: 40%;

    h1 {
      font-size: large;
    }
  }

  #footer {
    font-size: xx-small;
  }
}