#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

img {
  width: 100%
}

main {
  background-color: aliceblue;
  margin-top: 15vh;
}

.m-6 {
  margin: 0 6rem;
}

/* navbar */

#navbarContainer {
  background-color: aliceblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
}

.mainSection {
  display: flex;
}

h1 {
  width: 40%;
}

ul {
  margin: auto 0;
}

li {
  list-style: none;

  a {
    font-weight: bold;
  }

  a:hover {
    color: cornflowerblue;
  }
}

/* HERO */

.heroContainer {
  height: 35vh;
  max-width: 100vw;

  .imgContainer {
    width: 20%;
  }

  img {
    border-radius: 15px;
  }
}

/* CAROUSEL */
h2 {
  margin-left: 6rem;
}

.cardsContainer {
  width: 90vw;
  position: relative;
}

.track {
  animation: scroll 30s linear infinite;
}

.cardsContainer:hover .track {
  animation-play-state: paused;
}

.cardsContainer::before,
.cardsContainer::after {
  content: "";
  position: absolute;
  top: 0;
  width: 60px;
  height: 100%;
  z-index: 50;
  pointer-events: none;
}

.cardsContainer::before {
  left: 0;
  background: linear-gradient(to right, aliceblue 30%, transparent);
}

.cardsContainer::after {
  right: 0;
  background: linear-gradient(to left, aliceblue 30%, transparent);
}

.myCard {
  background-color: lightblue;
  border-radius: 15px;
  padding: 15px;
  width: 15rem;
  height: 40vh;
  overflow: hidden;
  transition: tranform 0.2s ease;

  p {
    font-weight: 400;
  }

  img {
    border-radius: 15px;
  }
}

.myCard:hover {
  transform: scale(1.1);
  color: black;
}

.myCardTag {
  right: 0;
  bottom: 0.2em;
}

.seeAll {
  margin-right: 6em;
  font-weight: bold;
}

/* SINGLE EVENT */
#singleEventPage {

  .info {
    font-weight: bolder;
  }

  #textSec {
    width: 60%;
    font-size: large;
  }

  .imgContainer {
    width: 25%;
  }

  #whoContainer {
    img {
      border-radius: 15px;
    }
  }

}

#tagsSection {
  z-index: 2;

  span {
    border-radius: 15px;
    padding: 0.2em 0.6em;
    margin-left: 1em;
    max-width: 30%;
  }

  /* Gestione colori */
  .issimiAC {
    background-color: coral;
  }

  .lupettiScout {
    background-color: aqua;
  }

}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}